@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: "Chakra Petch", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.productSpread {
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 8px;
    background-color: aqua;
}

#loginMain {
    padding: 10%;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.imageAndInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: forestgreen;
}

button:hover {
    opacity: 0.7;
}

.product-image {
    width: 30%;
}

nav * {
    text-decoration: none;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    width: 12%;
    height: 20%;
    padding: 10px;
}

nav>ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

nav>ul>li {
    padding: 10px;
    border-right: solid 1px white;
}

nav>ul>li:last-child {
    padding: 10px;
    border-right: none;
}

header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    border-bottom: 1px solid white;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    width: 3rem;
}

.logoAndName {
    display: flex;
    flex-direction: row;
}

main {
    padding-top: 3rem;
}

input {
    background-color: white;
    color: black;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 3%;
}

.registerCardHolder {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.registerCard {
    padding-top: 3%;
    padding-bottom: 3%;
}

.bankAccounts,
.expAndCvv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
}

.creditCard {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

form:not(.addToCart) {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#hero {
    width: 100%;
}